
body {
    background-color: linen;

}
h1{
    color: black;
    width: 10;
    height: 20;
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightgreen;
    text-align: center;

}
h2{
    color: black;
    text-align: center;

}
h3{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    text-align: justify;
}
div{
    text-align: center;
}
section{
    width: 90%;
}
@media (max-width: 1024px) {
    div.container{
        margin-left: 1em;
        margin-right: 1em;
    }
}